.main{
    background-color: #ccc;
}
.change{
    background-color: blue;
}
.delete{
    background-color: red;
}
.update{
    background-color: green;
}
.div-footer{
    background-color: red;
}
.footer-text{
    text-align: center;
    color: white;
}